/* Section.css */

.section {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  width: 280px;
  min-width: 280px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  position: relative;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
  color: #333;
}

.task-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.no-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-task-btn {
  background-color: transparent;
  color: #333; /* Neutral color for the button */
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  border: none; /* Removing border */
}

.add-task-btn:hover {
  background-color: rgba(0, 0, 0, 0.05); /* Slight hover effect */
}

.add-task-icon-btn {
  background-color: transparent;
  color: #333; /* Neutral color */
  border: none; /* No border */
  width: 24px;
  height: 24px;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
}

.add-task-icon-btn:hover {
  color: #666; /* Slightly darker hover effect */
}


.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-task-icon-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
}

.add-task-btn {
  margin-top: 10px;
  padding: 8px;
  font-size: 16px;
}

.task-options {
  cursor: pointer;
  position: relative;
}

.task-options-dropdown {
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 100;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.task-options-dropdown button {
  background: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  text-align: left;
}

.task-options-dropdown button:hover {
  background-color: #f5f5f5;
}
